<template>
  <div>
    <ul>
      <h3 class="pc-c-dashboard__available-players">Dostupni igraci:</h3>
      <p>(zeleni krug)</p>
      <li
        v-for="user in users"
        :key="user['id']"
        v-if="currentUser != user['id']"
      >
        <a
          :href="
            'game/tablic/' +
              (user['id'] < currentUser ? user['id'] : currentUser) +
              '/' +
              (user['id'] < currentUser ? currentUser : user['id'])
          "
        >
          {{ user["name"] }}
        </a>
        <span
          v-if="isOnline[user['name']]"
          class="pc-c-online-status__active"
        ></span>
        <span v-else class="pc-c-online-status__inactive"></span>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  props: {
    users: {
      type: Array,
      required: true
    },
    currentUser: {
      type: Number,
      required: true
    },
    isOnline: {
      type: Object,
      required: true
    }
  },
  mounted() {
    console.log("users", this.users);
    console.log("is online", this.isOnline);
  }
};
</script>
