<template>
    <section>
        <b-tabs position="is-centered" v-model="activeTab">
            <b-tab-item label="Izaberi saigraca">
                <dashboard-available-players
                    :users="users"
                    :currentUser="currentUser"
                    :is-online="isOnline"
                />
            </b-tab-item>
            <b-tab-item label="Vasi podaci">
                <player-dashboard-data :username="username" email="" />
            </b-tab-item>
        </b-tabs>
    </section>
</template>
<script>
export default {
    data() {
        return {
            activeTab: 0,
            showBooks: false
        };
    },
    props: {
        username: {
            type: String,
            required: true
        },
        users: {
            type: Array,
            required: true
        },
        currentUser: {
            type: Number,
            required: true
        },
        isOnline: {
            type: Object,
            require: true
        }
    }
};
</script>
