<template>
  <div>
    <div class="pc-c-dashboard__inputs-container">
      <div class="pc-c-dashboard__left-container">
        <b-field label="Name">
          <b-input v-model="username"></b-input>
        </b-field>
        <b-field label="Email" type="is-danger" message="This email is invalid">
          <b-input type="email" placeholder="Example: john@" maxlength="30">
          </b-input>
        </b-field>
      </div>
      <div class="pc-c-dashboard__right-container">
        <b-field label="Password">
          <b-input type="password" value="iwantmytreasure" password-reveal>
          </b-input>
        </b-field>
        <b-field label="Password repeat">
          <b-input type="password" value="iwantmytreasure" password-reveal>
          </b-input>
        </b-field>
      </div>
    </div>
    <b-button type="is-primary pc-button__save" @click="savePlayerData"
      >Save Player Data</b-button
    >
  </div>
</template>
<script>
export default {
  name: "playerDashboardData",
  data() {
    return {
      name: ""
    };
  },
  props: {
    username: {
      type: String,
      required: true
    }
  },
  methods: {
    savePlayerData() {
      console.log(this.username);
    }
  },
  mounted() {
    //this.name = this.userName;
    this.savePlayerData();
  }
};
</script>
