<template>
  <div>
    <button @click="startGame()" class="btn btn-success">
      Start game!
    </button>
  </div>
</template>
<script>
import api from "./../../api/api";

export default {
  data() {
    return {
      userData: {},
      //counter: 0,
      test: {}
      //      gameID: this.$store.getters.getGameStart.gameID
    };
  },
  computed: {
    gameID() {
      return this.$store.getters.getGameStart.gameID;
    }
  },
  props: {
    user: {
      type: Object,
      required: true,
      default: {}
    },
    playerOne: {
      type: String,
      required: true
    },
    playerTwo: {
      type: String,
      required: true
    }
  },
  created() {
    this.userData = this.user;
  },
  methods: {
    async startGame() {
      //this.counter++;
      const startGame = await api
        .startGame(this.playerOne, this.playerTwo)
        .then(response => {
          this.$root.$emit("firstRound", response);
          return response;
        });
      //      console.log("ID Ivana: ", this.gameID);

      // Echo.private("gameStart.54").listen("StartGameEvent", event => {
      //   console.log("listener", event);
      // });
      return startGame;
    },

    async getFirstData() {
      return await api.startGame(this.playerOne, this.playerTwo);
    }
  },
  mounted() {}
};
</script>
