// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "dashboard";
@import "./homepage";
@import "./tablic/tablic";
@import "~bootstrap/scss/bootstrap";

html {
    //    font-size: 62.5%;
    font-family: Nunito;
}

body {
    color: #636b6f;
}
// p,
// span,
// a,
// button,
// div {
//     font-size: 1.4rem;
// }

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

.pc-main-page__container {
    width: 80%;
    margin: 0 auto;
}

.pc-main-page__text {
    font-size: 2.2rem;
}
