.pc-l-dashboard__container {
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pc-l-dashboard__content {
    display: flex;
    width: 75%;
    margin: 0 auto;
}

.pc-l-dashboard__right-side {
    flex-basis: 25%;
}

.pc-c-dashboard__inputs-container {
    display: flex;
    justify-content: space-between;
}

.pc-c-dashboard__left-container {
    width: 48%;
}
.pc-c-dashboard__right-container {
    width: 48%;
}

button.pc-button__save {
    font-size: 1rem;
}

.pc-c-dashboard__main-title-container {
    margin-bottom: 4rem;
}

.pc-c-dashboard__main-title {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

.pc-c-dashboard__hello-user {
    text-align: center;
}

.pc-c-dashboard__options {
    width: 100%;
}

.pc-c-dashboard__options-text {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}

.pc-c-dashboard__available-players {
    text-transform: uppercase;
}

.pc-c-online-status__active {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid $pc-color-active;
    background: $pc-color-active;
    color: $pc-color-active;
}

.pc-c-online-status__inactive {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid $pc-color-inactive;
    background: $pc-color-inactive;
    color: $pc-color-inactive;
}

.pc-card-body {
    min-height: 80vh;
}
