html,
body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.pc-homepage__intro-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.pc-homepage__intro-column {
}

.pc-homepage__intro-column-text {
    font-size: 1.2rem;
    text-align: justify;
}

.pc-homepage__intro-image-container {
    text-align: center;
    position: relative;
    height: 12rem;
    width: 32rem;
    margin: 0 auto;
}

.pc-homepage__intro-image {
    position: absolute;
    top: -16rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
}

.pc-homepage__main-message {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
    height: 40rem;
    overflow: hidden;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#1e90ff, #9400d3);
    transform: skewY(-6deg);
    transform-origin: top left;
}

.pc-homepage__middle {
    position: relative;
    height: 40rem;
    overflow: hidden;
}

.pc-homepage__middle-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#1e90ff, #9400d3);
    transform: skewY(6deg);
    transform-origin: top left;
    z-index: 0;
}

.pc-homepage__middle-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#1e90ff, #9400d3);
    opacity: 0.2;
    object-fit: cover;
}

h1 {
    margin: 0;
    padding: 30px 0;
    font: 44px "Arial";
    text-align: center;
}

header h1 {
    position: relative;
    color: white;
}

.pc-intro-text {
    font-size: 3rem;
}

.pc-homepage__middle-text-title {
    color: $white;
    position: relative;
    margin-top: 15rem;
    text-align: center;
}

.pc-homepage__bottom {
    height: 40vh;
}

.pc-homepage__section-separator {
    width: 30rem;
    margin: 0 auto;
}

// utilities
.pc-u-center {
    text-align: center;
}

.pc-u-add-margin-top-5 {
    margin-top: 5rem;
}
