<template>
  <div class="tablic-my-cards__main-container">
    <div v-if="iHaveCardsInHands()" class="tablic-my-cards__container">
      <div
        @click="throwCard(item, key)"
        v-for="(item, key) in cards"
        class="tablic-my-cards__card"
        v-bind:key="key"
      >
        <img
          alt=""
          :src="'/images/' + createImageUrl(item)"
          class="tablic-table-cards__card-image"
        />
      </div>
    </div>
    <div v-else>
      <button
        @click="askForNewCards()"
        class="btn btn-success"
        :disabled="isItDisabled"
      >
        Novo deljenje!
      </button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      // cards: this.myCards,
      cardValue: "", // ???
      cards_on_table: this.cardsOnTable,
      counter: 0,
      isItDisabled: false,
      showMeMyCards: true,
      numberOfCardsInMyHand: 0
    };
  },
  computed: {
    cards: {
      get: function() {
        return this.$store.getters.getGameStart.first_player ==
          this.$store.getters.getGameStart.userID
          ? this.$store.getters.getGameStart.first_player_cards
          : this.$store.getters.getGameStart.second_player_cards;
      },
      set: function(newValue) {
        this.$store.getters.getGameStart.first_player ==
        this.$store.getters.getGameStart.userID
          ? (this.$store.getters.getGameStart.first_player_cards = newValue)
          : (this.$store.getters.getGameStart.second_player_cards = newValue);
      }
    }
  },
  props: {
    cardsOnTable: {
      type: Array,
      required: true
    },
    playerOne: {
      type: String,
      required: true
    },
    playerTwo: {
      type: String,
      required: true
    },
    currentPlayer: {
      type: Number,
      required: true
    }
  },
  mounted() {
    this.getNewCards();
    /* give new cards to players */
    this.$root.$on("newCards", (counter, user) => {
      axios
        .post("/get-new-cards", {
          counter: counter,
          user: user,
          player1: this.playerOne,
          player2: this.playerTwo
        })
        .then(response => {
          this.cards = response.data[0];
        });
    });
  },
  methods: {
    createImageUrl(card) {
      return card[0] + "-" + card[1] + ".png";
    },
    askForNewCards() {
      this.iHaveCardsInHands();
      axios
        .post("/get-new-cards", {
          counter: this.counter++,
          user: this.currentPlayer,
          player1: this.playerOne,
          player2: this.playerTwo
        })
        .then(response => {
          this.cards = response.data[0];
        });
    },
    throwCard(card, key) {
      if (!this.$store.getters.getAmINext) {
        this.numberOfCardsInMyHand++;
        this.$store.dispatch("changeAmINext", true);
        this.$root.$emit("throwCard", [card, this.numberOfCardsInMyHand]);
        Vue.delete(this.cards, key);
        // console.log("koji ti je kurac", this.iHaveCardsInHands());
        if (!this.iHaveCardsInHands()) {
          this.isItDisabled = false;
        } else {
          this.isItDisabled = true;
        }
      } else {
        alert("It's not your turn, stupid!");
      }
    },
    getCardsOnTable() {
      axios.post("/get_cards_on_table", {});
    },
    getNewCards() {
      Echo.channel("newRound").listen("NewRound", cards => {
        this.card = JSON.parse(cards);
      });
    },
    iHaveCardsInHands() {
      return Object.keys(this.cards).length;
    }
  }
};
</script>
