<template>
  <div class="tablic-sidebar-users__container">
    <div class="tablic-sidebar-current-result__container">
      <h4>Trenutni poeni: {{ $store.getters.getGameResult }}</h4>
      <h4>
        Koliko je odnesenih karti:
        {{ $store.getters.getTakenCards.length }}
      </h4>
      <h4>Recke store {{ $store.getters.getAdditionalPoints }}</h4>
    </div>
    <div class="tablic-sidebar-game-result__container">
      <h5>Trenutna igra(do 101 poena)</h5>
      <h5>{{ playerOneName }}: {{ playerOnePoints ? playerOnePoints : 0 }}</h5>
      <h5>{{ playerTwoName }}: {{ playerTwoPoints ? playerTwoPoints : 0 }}</h5>
      <h5
        v-if="
          +$store.getters.getAdditionalPoints + +playerOnePoints >= 76 ||
            +$store.getters.getAdditionalPoints + +playerTwoPoints >= 76
        "
        style="color: red"
      >
        Blizimo se kraju, vise ne racunamo recke!
      </h5>
    </div>
    <div class="tablic-sidebar-previous-results__container">
      <h4>Rezultat dosadasnjih meceva:</h4>
      <h5>{{ playerOneName }} {{ getFinalResult[0] }}</h5>
      <h5>{{ playerTwoName }} {{ getFinalResult[1] }}</h5>
    </div>
  </div>
</template>
<script>
import ChatComponent from "./../ChatComponent.vue";
import api from "./../../api/api";
export default {
  data() {
    return {
      userData: {},
      counter: 0,
      test: {},
      additionalPoints: this.$store.getters.getAdditionalPoints,
      test: "",
      matchResultPlayerOne: 0,
      matchResultPlayerTwo: 0,
      playerOneResult: 0,
      playerTwoResult: 0
    };
  },
  props: {
    user: {
      type: Object,
      required: true,
      default: {}
    },
    playerOne: {
      type: String,
      required: true
    },
    playerTwo: {
      type: String,
      required: true
    },
    currentPlayer: {
      type: Number,
      required: true
    },
    playerOneName: {
      type: String,
      require: true
    },
    playerTwoName: {
      type: String,
      require: true
    }
  },
  computed: {
    playerOnePoints: function() {
      return this.$store.getters.getGameTotalResult.playerOnePoints;
    },
    playerTwoPoints: function() {
      return this.$store.getters.getGameTotalResult.playerTwoPoints;
    },
    playerOneMatches: function() {
      return this.$store.getters.getMatchResultPlayer1;
    },
    playerTwoMatches: function() {
      return this.$store.getters.getMatchResultPlayer2;
    },
    getFinalResult: function() {
      return this.$store.getters.getFinalResult;
    }
  },
  created() {
    this.userData = this.user;
  },
  components: { ChatComponent },
  mounted() {
    this.additionalPoints = this.$store.getters.getAdditionalPoints;

    let p1 = this.playerOne;
    let p2 = this.playerTwo;
    this.$store.dispatch("apiActionDisplayGameResult", {
      playerOne: p1,
      playerTwo: p2,
      current_player: this.currentPlayer
    });
    this.$store.dispatch("apiActionGetFinalResult", {
      playerOne: this.playerOne,
      playerTwo: this.playerTwo,
      currentPlayer: this.currentPlayer
    });

    //this.getGameFinalResults();
    this.$store.dispatch("apiActionGetMatchResults", {
      player1: this.playerOne,
      player2: this.playerTwo,
      current_player: this.currentPlayer
    });
    /* api
     *   .getMatchResultFromDB(this.playerOne, this.playerTwo, this.currentPlayer)
     *   .then(response => {
     *     console.log("what is response?", response);
     *     this.matchResultPlayerOne = response.data.player_one_matches_result;
     *     this.matchResultPlayerTwo = response.data.player_two_matches_result;
     *   });
     */
    //  console.log("moja mala", this.$store.state.gameResultTotal);
  },
  updated() {
    this.additionalPoints = this.$store.getters.getAdditionalPoints;
    // console.log("STORE: 2", this.$store.getters.getAdditionalPoints);
  }
};
</script>
