<template>
  <div>
    <explanation-sidebar />
    <tablic-table-cards-component
      :cards-on-table="cards"
      :playerOne="firstPlayer"
      :playerTwo="secondPlayer"
      :gameID="gameId"
      :currentPlayer="currentPlayer"
      :who-plays-first="whoPlaysFirst"
      :current-player="currentPlayer"
    >
    </tablic-table-cards-component>
    <tablic-my-cards-component
      :cards-on-table="cards"
      :playerOne="firstPlayer"
      :playerTwo="secondPlayer"
      :currentPlayer="currentPlayer"
    ></tablic-my-cards-component>
  </div>
</template>
<script>
import playerCards from "./my-cards";
import { expanationSidebar } from "./../sidebar/sidebar.vue";

export default {
  data() {
    return {
      cards: this.cardsOnTable,
      playerCards: this.myCards,
      fromChild: "",
      firstPlayer: "",
      secondPlayer: "",
      playerCardsss: []
    };
  },
  computed: {
    /* cards: function() {
     *   return this.$store.getters.getGameStart.cards_on_table;
     * } */
  },
  components: {
    //playerCards
  },
  props: {
    cardsOnTable: {
      type: Array,
      required: false,
      default: () => {}
    },
    playerOne: {
      type: String,
      required: true,
      default: ""
    },
    playerTwo: {
      type: String,
      required: true,
      default: ""
    },
    currentPlayer: {
      type: Number,
      required: true,
      default: ""
    },
    gameId: {
      type: Number,
      required: true,
      default: ""
    },
    whoPlaysFirst: {
      type: Number,
      required: true,
      default: ""
    }
  },
  created() {
    this.firstPlayer = this.playerOne;
    this.secondPlayer = this.playerTwo;
    this.playerCardsss = this.myCards;
  },
  mounted() {},
  methods: {}
};
</script>
