<template>
  <div class="tablic-table-cards__container">
    <div class="tablic-table-cards__card-container">
      <div
        v-for="(card, key) in cards"
        :id="'card-' + key"
        :class="[
          'tablic-table-cards__card',
          {
            'is-selected': selectedCardsValues.includes(card)
          }
        ]"
        v-bind:key="key"
        @click="selectCard(card, key).init()"
      >
        <img
          alt
          :src="'/images/' + createImageUrl(card)"
          class="tablic-table-cards__card-image"
        />
      </div>
    </div>

    <div v-if="playerOne == currentPlayer">
      <p
        v-if="playerOne == whoPlaysFirst && beggining"
        class="tablic-table-cards__message is-text-centered is-green"
      >
        Player one - Pocetak: ti si na redu, igraj
      </p>
      <p
        v-else-if="playerOne != whoPlaysFirst && beggining"
        class="tablic-table-cards__message is-text-centered is-red"
      >
        Player one : Pocetak: nisi na redu, sacekaj deder.
      </p>
    </div>
    <div v-if="playerTwo == currentPlayer">
      <p
        v-if="playerTwo == whoPlaysFirst && beggining"
        class="tablic-table-cards__message is-text-centered is-green"
      >
        Player two Pocetak: ti si na redu, igraj
      </p>
      <p
        v-else-if="playerTwo !== whoPlaysFirst && beggining"
        class="tablic-table-cards__message is-text-centered is-red"
      >
        Player two - Pocetak: nisi na redu, sacekaj deder.
      </p>
    </div>
    <p
      v-if="amINext && !beggining"
      class="tablic-table-cards__message is-text-centered is-red"
    >
      Tvoj neprijatelj razmislja, sacekaj malo!!!
    </p>
    <p
      v-else-if="!amINext && !beggining"
      class="tablic-table-cards__message is-text-centered is-green"
    >
      Ti si na redu, igraj, ne cekaj!
    </p>
  </div>
</template>
<script>
import api from "./../../api/api";
import StartGameButton from "./../buttons/start-game-button.vue";

export default {
  data() {
    return {
      //      cards: this.cardsOnTable,
      selectedCardsPositions: [],
      cardSum: 0,
      cardStrength: 0,
      selectedCardsValues: [],
      takenCards: [],
      points: 0,
      whoTookCardsLast: "",
      additionalPoints: 0,
      counter: 0,
      beggining: true,
      round: 0,
      lastRoundCounter: 0,
      shouldListenForChanges: true,
      didFirstPlayerFinished: false,
      messageToLoser: true,
      showedOnce: false
    };
  },
  props: {
    cardsOnTable: {
      type: Array,
      required: false,
      default: {}
    },
    playerOne: {
      type: String,
      required: false,
      default: ""
    },
    playerTwo: {
      type: String,
      required: false,
      default: ""
    },
    currentPlayer: {
      type: Number,
      required: false,
      default: ""
    },
    gameID: {
      type: Number,
      required: false,
      default: ""
    },
    whoPlaysFirst: {
      type: Number,
      required: false,
      default: ""
    }
  },
  computed: {
    amINext: function() {
      return this.$store.getters.getAmINext;
    },
    cards: {
      get: function() {
        return this.$store.getters.getGameStart.cards_on_table;
      },
      set: function(newValue) {
        this.$store.getters.getGameStart.cards_on_table = newValue;
      }
    },
    playerOnePoints: function() {
      return this.$store.getters.getGameTotalResult.playerOnePoints;
    },
    playerTwoPoints: function() {
      return this.$store.getters.getGameTotalResult.playerTwoPoints;
    },
    playerAdditionalPoints: function() {
      return this.$store.getters.getAdditionalPoints;
    }
  },
  created() {},
  methods: {
    createImageUrl(card) {
      return card[0] + "-" + card[1] + ".png";
    },
    selectCard(card, key) {
      let cardSelecting = card => {
        if (this.selectedCardsValues.includes(card)) {
          this.selectedCardsValues = this.selectedCardsValues.filter(item => {
            return item !== card;
          });
        } else {
          this.selectedCardsValues.push(card);
        }
        return this.selectedCardsValues;
      };
      let getIndividualCardStrength = key => {
        if (this.selectedCardsPositions.includes(key)) {
          this.cardStrength = -1 * this.cards[key][0]; // remove from card sum
          this.selectedCardsPositions = this.selectedCardsPositions.filter(
            item => {
              return item !== key;
            }
          );
        } else {
          this.selectedCardsPositions.push(key);
          this.cardStrength = this.cards[key][0];
          return [this.selectedCardsPositions, this.cardStrength];
        }
      };
      return {
        init: () => {
          cardSelecting(card);
          getIndividualCardStrength(key);
        }
      };
    },
    playerTakeCards(selectedCards, thrownCard, cardCounter, additionalPoints) {
      let rememberSum = 0;
      let rememberSumWith11 = 0;
      let sameCards = [];
      let areCardsSame = false;
      let canCardsBeSummed = false;
      let sabirci = [];
      let additionalPointsState = additionalPoints;

      let calculateSumOfCards = (selectedCards, thrownCard) => {
        selectedCards.forEach((selectedCard, index) => {
          rememberSum += selectedCard[0];
          rememberSumWith11 += selectedCard[0];

          // if player wants to take one or more same selectedCards
          if (selectedCard[0] == thrownCard[0]) {
            sameCards.push(selectedCard);
            // do not count same selectedCards when sum selectedCards
            rememberSum -= selectedCard[0];
            areCardsSame = true;
          }
          if (selectedCard[index] == 1 && thrownCard[0] > 11) {
            // calculate options A + 2, A + 3, A + 1
            rememberSumWith11 += selectedCard[index] + 11;
          }
        });
        return { rememberSum, rememberSumWith11 };
      };

      // if player takes more cards that can be summed, for example 6 + 6 && 7 + 5
      let ifPlayerTakesMoreThanSum = (selectedCards, thrownCard) => {
        if (selectedCards.length > 3) {
          for (let j = 0; j < selectedCards.length; j++) {
            for (let k = j + 1; k < selectedCards.length; k++) {
              if (selectedCards[j][0] + selectedCards[k][0] == thrownCard[0]) {
                rememberSum = selectedCards[j][0] + selectedCards[k][0];
              }
              if (
                selectedCards[j][0] + selectedCards[k][0] ==
                  thrownCard[0] + 10 &&
                thrownCard[0]
              ) {
                rememberSum = selectedCards[j][0] + selectedCards[k][0];
              }
            }
          }
        }
        return rememberSum;
      };

      // sum selected cards and check if sum is equivalent to value of thrown card
      let nowTakeCardsIfYouCan = () => {
        if (
          rememberSum === thrownCard[0] ||
          (selectedCards.length >= 1 && areCardsSame) ||
          (rememberSum + 10 === thrownCard[0] && thrownCard[0] != 10) ||
          (thrownCard[0] == 1 && rememberSum + 1 == thrownCard[0] + 10) ||
          (thrownCard[0] == 1 && rememberSum == thrownCard[0] + 10)
        ) {
          // player can take cards
          this.cards = this.cards.filter(x => !selectedCards.includes(x)); // remove selected cards
          // this is a thrown card, remove it from table cards
          this.cards.splice(this.cards.length - 1, 1);
          this.$store.dispatch(
            "setTakenCards",
            this.takeCards(selectedCards, thrownCard, cardCounter)
          );

          // save to DB which player took cards
          api.saveToDBWhoTookCards(
            this.currentPlayer,
            this.playerOne,
            this.playerTwo
          );
        }
      };

      // "additionalPointsState" time
      let calculateAdditionalPoints = () => {
        if (
          this.cards.length == 0 &&
          (additionalPointsState + this.playerOnePoints <= 76 ||
            additionalPointsState + this.playerTwoPoints <= 76)
        ) {
          additionalPointsState++;
          this.$store.dispatch("apiActionIncreaseAdditionalPoints", {
            player1: +this.playerOne,
            player2: +this.playerTwo,
            current_player: this.currentPlayer,
            additionalPoint: additionalPointsState
          });
          additionalPointsState = 0; //reset recke
        }
      };
      let resetStartingValues = () => {
        rememberSum = 0;
        areCardsSame = false;
        this.selectedCardsValues = [];
        this.cardSum = 0;
      };
      return {
        init: () => {
          calculateSumOfCards(selectedCards, thrownCard);
          ifPlayerTakesMoreThanSum(selectedCards, thrownCard);
          nowTakeCardsIfYouCan();
          calculateAdditionalPoints();
          resetStartingValues();
        }
      };
    },
    takeCards(cards, thrownCard, cardCounter) {
      for (let i = 0; i < cards.length; i++) {
        this.takenCards.push(cards[i]);
      }
      this.takenCards.push(thrownCard);
      this.countCards(cardCounter);
      return this.takenCards;
    },
    countCards(cardCounter) {
      this.points = 0;
      for (let i = 0; i < this.takenCards.length; i++) {
        if (
          this.takenCards[i][0] >= 11 ||
          (this.takenCards[i][0] == 10 && this.takenCards[i][1] != "karo") ||
          this.takenCards[i][0] == 1 ||
          (this.takenCards[i][0] == 2 && this.takenCards[i][1] == "tref")
        ) {
          this.points++;
        }
        if (this.takenCards[i][0] == 10 && this.takenCards[i][1] == "karo") {
          this.points += 2;
        }
      }
      if (this.takenCards.length > 26) {
        this.points += 3; //tri na kartu
      }
      this.$store.dispatch("setGamePoints", this.points);
      // just for test
      //  this.doIHave101();
    },
    getAdditionalPoints() {
      this.$store.dispatch("apiActionGetAdditionalPoints", {
        player1: +this.playerOne,
        player2: +this.playerTwo,
        current_player: this.currentPlayer
      });
    },
    listenForCard() {
      Echo.private("game." + this.gameID)
        .listen("TablicEvent", event => {
          this.cards = JSON.parse(event.game[0].cards_on_table);
          // reminder: this is clumsy, look for more elegant way
          if (this.beggining == true) {
            if (
              (this.currentPlayer == this.playerOne &&
                this.whoPlaysFirst == this.playerOne) ||
              (this.currentPlayer == this.playerTwo &&
                this.whoPlaysFirst == this.playerTwo)
            ) {
              this.$store.dispatch("changeAmINext", true);
            }
            if (
              (this.currentPlayer == this.playerOne &&
                this.whoPlaysFirst == this.playerTwo) ||
              (this.currentPlayer == this.playerTwo &&
                this.whoPlaysFirst == this.playerOne)
            ) {
              this.$store.dispatch("changeAmINext", false);
            }
          } else {
            this.counter = this.toggleWhichPlayerPlay(
              this.playerOne,
              this.playerTwo,
              this.whoPlaysFirst,
              this.currentPlayer,
              true,
              false,
              this.counter
            );
          }
          this.beggining = false;
        })
        .listenForWhisper("typing", user => {
          //                    console.log("whispering: ", user);
        });
    },
    toggleWhichPlayerPlay(
      player1,
      player2,
      first,
      current,
      isTrue,
      isFalse,
      counter
    ) {
      if (current == player1) {
        if (first == player2) {
          if (counter % 2 == 1) {
            this.$store.dispatch("changeAmINext", isFalse);
          }
        }
        if (first == player1) {
          if (counter % 2 == 0) {
            this.$store.dispatch("changeAmINext", isFalse);
          }
        }
        counter++;
      }
      if (current == player2) {
        if (first == player2) {
          if (counter % 2 == 0) {
            this.$store.dispatch("changeAmINext", isFalse);
          }
        }
        if (first == player1) {
          if (counter % 2 == 1) {
            this.$store.dispatch("changeAmINext", isFalse);
          }
        }
        counter++;
      }
      return counter;
    },

    takeLastCards(cardsOnTable, myTakenCards) {
      //make this function clean, clean as in functional programming
      cardsOnTable.forEach(item => {
        myTakenCards.push(item);
        this.countCards();
      });
    },
    //nested axios requests below
    /* doIHave101(result, currentPlayer) {
     *   axios
     *     .post("/getCurrentResult", {
     *       player1: this.playerOne,
     *       player2: this.playerTwo,
     *       currentPlayer: this.currentPlayer
     *     })
     *     .then(response => {
     *       console.log("respone data", response.data);
     *       console.log("this points", this.points);
     *       console.log("Trenutno imam: ", response.data + this.points);
     *       if (this.points + response.data >= 101) {
     *         // zatvaraj kafanu, imamo pobednika,
     *         // upisi mu pobedu u mecevima i ponudi novu igru
     *         alert("Ti si pobednik, legendo!");
     *         this.$store.dispatch("toggleGameStart", "");
     *         axios
     *           .post("/tablic__game_over", {
     *             player1: this.playerOne,
     *             player2: this.playerTwo,
     *             currentPlayer: this.currentPlayer
     *           })
     *           .then(response => {
     *             //GAME OVER
     *             //offer new game
     *             console.log("Kraj meca: ", response.data);
     *           });
     *       }
     *     });
     * }, */
    saveCardsOnTable(cards, player1, player2) {
      api.setCardsOnTheTable
        .bind({}, cards, player1, player2)()
        .then(response => {
          //show all cards on table
          this.cards = JSON.parse(response.data[0].cards_on_table);
          this.round = response.data[0].who_is_next;
          // this.round = 6;
        });
    },
    lastCardsAndTheEnd(cardCounter, player1, player2, currentPlayer) {
      let result = this.points;
      let saveResult = (result, currentPlayer) => {
        // add isCloseTo101 property to post request
        api.saveResult
          .bind({}, player1, player2, currentPlayer, result)()
          .then(response => {
            //            console.log("response save", response);
          });
      };
      let isItCloseTo101 = function() {
        // make http request to check how many total points player has
        // it can be also used for displaying of total points in right sidebar
      };
      let takeLastCards = (cardsOnTable, myTakenCards) => {
        //make this function clean, clean as in functional programming
        cardsOnTable.forEach(item => {
          myTakenCards.push(item);
          this.countCards();
        });
      };
      // last round
      if (this.lastRoundCounter == 5) {
        api.whoGetLastCardsOnTheTable
          .bind({}, this.playerOne, this.playerTwo)()
          .then(response => {
            this.whoTookCardsLast = response.data[0];
            this.shouldListenForChanges = true;
            this.didFirstPlayerFinished = true;
            if (
              this.whoTookCardsLast == currentPlayer &&
              response.data[1] == 6 && //last round = 6
              currentPlayer == player2 //playerTwo is always last
            ) {
              // console.log("option eins");
              // console.log("first time", cardCounter);
              takeLastCards(this.cards, this.takenCards);
              saveResult(this.points, currentPlayer);
              this.showTheEndDialog(this.playerOne, this.playerTwo);
            } else if (
              // if second player was the last one who took cards,
              //than there is no use to start 'listening'
              this.whoTookCardsLast == currentPlayer &&
              response.data[1] == 6 &&
              currentPlayer == player1
            ) {
              // console.log("option zwei");
              const player1CardsOnTable = this.cards.length;
              // listen if second player will take card/s with his/her last card.
              Echo.private("game." + this.gameID).listen(
                "TablicEvent",
                event => {
                  if (this.shouldListenForChanges) {
                    const cardsAtTheEnd = JSON.parse(
                      event.game[0].cards_on_table
                    );
                    if (player1CardsOnTable < cardsAtTheEnd.length) {
                      // player 2 didn't take any card at the end, player 1 takes it all
                      takeLastCards(this.cards, this.takenCards);
                    }
                    saveResult(
                      this.$store.getters.getGameResult,
                      currentPlayer
                    );
                    this.didFirstPlayerFinished = true;
                    this.lastRoundCounter = -1;
                    cardCounter = 0;
                    this.shouldListenForChanges = false;
                    this.whoTookCardsLast = 0;
                    if (this.didFirstPlayerFinished) {
                      this.showTheEndDialog(this.playerOne, this.playerTwo);
                      this.didFirstPlayerFinished = false;
                    }
                  }
                }
              );
            } else {
              //            console.log("option drei");
              saveResult(this.points, currentPlayer);
              this.showTheEndDialog(this.playerOne, this.playerTwo);
            }
            //            console.log("da li da prestanes da slusas?");
            /*
                 Analiza opcija za nosenje karti na kraju, u zadnjem krugu

                 Player 1:

                 a. nije odneo zadnji kartu
                 znaci player 2 je odneo zadnji, ili ce da odnesel pali se opcija 3.
                 b. odneo je zadnji kartu
                 pali se opcija 2, startuje se Echo osluskivanje, da li player2 da uzme zadnju kartu
                 - ako ne uzme, onda sve karte idu playeru1, pali se boolean uslov i slusanje vise ne reaguje na promene
                 - ako uzme, onda sve karte idu playeru 2, a playeru 2 se pali opcija 1, valjda

                 Player 2
                 a. ako zadnji nosi kartu
                 pali se opcija 1
                 b. ako ne nosi kartu
                 pali se opcija drei

               */
            //  this.points = 0;
            //  this.takenCards = [];
            this.lastRoundCounter = -1;
            this.whoTookCardsLast = 0;
            cardCounter = 0;
          });
      }
      return {
        init: () => {
          return this.whoTooksLastCards;
        }
      };
    },
    showTheEndDialog(player1, player2, message) {
      let totalNumberOfPoints = this.takenCards.length != 26 ? 25 : 22;
      let mesage = "";
      if (!message) {
        message =
          "Dakle da svedemo račune... U ovoj igri si osvojila/o " +
          this.$store.getters.getGameResult +
          ", a ako me matematika ne laže, suprotstavljena stana je osvojila " +
          (totalNumberOfPoints - this.$store.getters.getGameResult) +
          " Da li hoces da nastavis da igras?";
      } else {
        if (message == "I win") {
          message = "Tooo! 101 poen i pobeda!";
        } else if (message == "I lose") {
          message = "Gubis, nema te :(";
        }
        this.showedOnce = false; // used in mounted hook, for displaying
      }
      this.$buefy.dialog.confirm({
        message: message,
        onConfirm: () => {
          api.startGame(this.playerOne, this.playerTwo).then(response => {
            // console.log("on confirm: ", response, this.points, this.takenCards);
            this.$root.$emit("firstRound", response);
            this.$store.dispatch("setGamePoints", 0);
            this.$store.dispatch("setTakenCards", []);
            this.points = 0;
            this.takenCards = [];

            // TODO * add match +1; * start new Game  ///////////////////////
            // TODO if "I win" OR "I lose" than line above
            // show total result, still it has a bug
            this.$store.dispatch("apiActionDisplayGameResult", {
              playerOne: player1,
              playerTwo: player2,
              current_player: this.currentPlayer
            });
          });

          // on the end of inidividual game toggle who plays next
          this.$store.dispatch(
            "changeAmINext",
            !this.$store.getters.getAmINext
          );
          this.counter++;
          this.$buefy.toast.open("Uraa, idemo dalje!");
          //reset points and takend cards to zero, as new game starts
        }
      });
    }
  },
  mounted() {
    this.listenForCard();
    // this.iAm = this.currentPlayer;
    this.getAdditionalPoints();
    let tempCounter = 0;
    api.totalResultForPlayers
      .bind({}, this.playerOne, this.playerTwo, this.currentPlayer)()
      .then(response => {
        //   console.log("total result", response);
      });

    /* catch event from my-cards component */
    let isListening = true;

    let card = this.$root.$on("throwCard", card => {
      this.cards.push(card[0]);
      this.messageToLoser = true;
      this.playerTakeCards(
        this.selectedCardsValues,
        card[0],
        card[1],
        this.additionalPoints
      ).init();

      this.saveCardsOnTable(this.cards, this.playerOne, this.playerTwo);

      /* delete thrown cards from database*/
      api.deleteThrownCard(card[0], this.playerOne, this.playerTwo);

      // ako je who_is_next = 6, znaci da je zadnji krug u trenutnom deljenju...
      if (this.round === 6) {
        if (this.whoPlaysFirst == this.playerTwo) {
          this.lastCardsAndTheEnd
            .bind(
              this,
              this.lastRoundCounter++,
              this.playerTwo,
              this.playerOne,
              this.currentPlayer
            )()
            .init();
        } else if (this.whoPlaysFirst == this.playerOne) {
          this.lastCardsAndTheEnd
            .bind(
              this,
              this.lastRoundCounter++,
              this.playerOne,
              this.playerTwo,
              this.currentPlayer
            )()
            .init();
        }
      }
      // proglasi pobednika
      if (
        +this.playerOnePoints + this.points + +this.playerAdditionalPoints >=
          101 &&
        isListening
      ) {
        // send api request, to insert result into database
        api
          .setMatchResultIntoDB(
            this.playerOne,
            this.playerTwo,
            this.currentPlayer,
            -1
          )
          .then(response => {
            this.$store.dispatch("apiActionGetMatchResults", {
              player1: this.playerOne,
              player2: this.playerTwo,
              current_player: this.currentPlayer
            });
            //            this.showTheEndDialog(this.playerOne, this.playerTwo, "I lost");
          });

        isListening = false;
      }
      if (
        +this.playerTwoPoints + +this.playerAdditionalPoints + this.points >=
          101 &&
        isListening
      ) {
        // send api request, to insert result into database
        // send api request, to insert result into database
        api
          .setMatchResultIntoDB(
            this.playerOne,
            this.playerTwo,
            this.currentPlayer,
            -1
          )
          .then(response => {
            /* this.$store.dispatch("apiActionDisplayGameResult", {
             *   playerOne: this.playerOne,
             *   playerTwo: this.playerTwo,
             *   current_player: this.currentPlayer
             * }); */
            this.$store.dispatch("apiActionGetMatchResults", {
              player1: this.playerOne,
              player2: this.playerTwo,
              current_player: this.currentPlayer
            });
            //          this.showTheEndDialog(this.playerOne, this.playerTwo, "I win");
          });
        isListening = false;
      }
      // listen each player throw a card, when end is near
      if (
        (isListening &&
          +this.playerOnePoints + +this.playerAdditionalPoints + this.points >=
            94) ||
        (isListening &&
          +this.playerTwoPoints + +this.playerAdditionalPoints + this.points >=
            94)
      ) {
        Echo.private("game." + this.gameID).listen("TablicEvent", event => {
          if (event.game[0].result_id !== 0) {
            if (
              event.game[0].player1_poens == 0 &&
              event.game[0].player2_poens == 0 &&
              event.game[0].result_id == this.currentPlayer
            ) {
              if (!this.showedOnce) {
                this.showTheEndDialog(this.playerOne, this.playerTwo, "I win");
                this.showedOnce = true;
                api
                  .setGameResultIntoDB(
                    this.playerOne,
                    this.playerTwo,
                    this.currentPlayer
                  )
                  .then(res => console.log("I ", res));
              }
            }
            if (
              event.game[0].player1_poens == 0 &&
              event.game[0].player2_poens == 0 &&
              event.game[0].result_id !== this.currentPlayer
            ) {
              if (!this.showedOnce) {
                this.showTheEndDialog(this.playerOne, this.playerTwo, "I lose");
                this.showOnce = true;
              }
            }
            api
              .setMatchResultIntoDB(
                this.playerOne,
                this.playerTwo,
                this.currentPlayer,
                0
              )
              .then(response => {});
            this.messageToLoser = false;
          }
        });
      }
    });
    // if (
    //   (isListening &&
    //     +this.playerOnePoints + +this.playerAdditionalPoints + this.points >=
    //       94) ||
    //   (isListening &&
    //     +this.playerTwoPoints + +this.playerAdditionalPoints + this.points >=
    //       94)
    // ) {
    //   console.log("PETER TOSH 2");
    //   Echo.private("game." + this.gameID).listen("TablicEvent", event => {
    //     if (event.game[0].result_id !== 0) {
    //       if (
    //         event.game[0].player1_poens == 0 &&
    //         event.game[0].player2_poens == 0 &&
    //         event.game[0].result_id == this.currentPlayer
    //       ) {
    //         this.showTheEndDialog(this.playerOne, this.playerTwo, "I win");
    //       }
    //       if (
    //         event.game[0].player1_poens == 0 &&
    //         event.game[0].player2_poens == 0 &&
    //         event.game[0].result_id !== this.currentPlayer
    //       ) {
    //         this.showTheEndDialog(this.playerOne, this.playerTwo, "I lose");
    //       }
    //       api
    //         .setMatchResultIntoDB(
    //           this.playerOne,
    //           this.playerTwo,
    //           this.currentPlayer,
    //           0
    //         )
    //         .then(response => {
    //           console.log("rez:", response);
    //         });
    //       this.messageToLoser = false;
    //     }
    //   });
    // }

    // on game load, block second player to throw the card
    if (this.playerOne == this.currentPlayer) {
      if (this.playerOne == this.whoPlaysFirst && this.beggining) {
        //       this.$store.dispatch("changeAmINext", false);
      }
      if (this.playerOne != this.whoPlaysFirst && this.beggining) {
        this.$store.dispatch("changeAmINext", true);
      }
    }
    if (this.playerTwo == this.currentPlayer) {
      if (this.playerTwo == this.whoPlaysFirst && this.beggining) {
        //        this.$store.dispatch("changeAmINext", true);
      }
      if (this.playerTwo != this.whoPlaysFirst && this.beggining) {
        this.$store.dispatch("changeAmINext", true);
      }
    }
  }
};
</script>
