.pc-tablic__container {
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
}

.tablic-my-cards__main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.tablic__main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.tablic__main-content__hello-world {
    text-transform: uppercase;
    font-size: 2rem;
}

.tablic__main-content__start-game {
    font-size: 1.5rem;
}

//EXPLANATION SIDEBAR
.tablic-explanation-sidebar__container {
    width: 100%;
    margin-bottom: 5rem;
}

.b-sidebar .sidebar-content {
    width: 40rem !important;
}

.tablic-explanation-sidebar__icon {
    text-align: left;
    cursor: pointer;

    svg {
        fill: $cyan;
    }
}

.tablic-explanation-sidebar__title {
    display: inline-block;
    text-transform: uppercase;
    font-size:1rem;
    font-weight: 600;
    border-bottom: 0.1rem solid $cyan;
}

// SIDEBAR!!!!
.tablic__sidebar {
    width: 20%;
    border-left: 0.2rem solid $blue;
    padding: 1rem;
}

.tablic-sidebar-users__container {
}

.tablic-sidebar-current-result__container {
    margin-bottom: 4rem;
    padding: 1rem 0;
    border-top: 0.1rem solid $blue;
    border-bottom: 0.1rem solid $blue;
}

.tablic-sidebar-game-result__container {
    margin-bottom: 4rem;
    padding: 1rem 0;
    border-top: 0.1rem solid $blue;
    border-bottom: 0.1rem solid $blue;
}

.tablic-sidebar-previous-results__container {
    margin-bottom: 4rem;
    padding: 1rem 0;
    border-top: 0.1rem solid $blue;
    border-bottom: 0.1rem solid $blue;
}

.tablic-my-cards__container {
    display: flex;
    width: 80%;
    justify-content: center;
    padding-top: 20rem;
}

.tablic-my-cards__card {
    flex-basis: 15%;
    height: 20rem;
    bottom: 0;
}

.tablic-table-cards__card-container {
    display: flex;
    justify-content: center;
}

.tablic-table-cards__card-image {
    height: auto;
    width: 100%;
}

.tablic-table-cards__card {
    flex-basis: 10%;
    border: 1px solid transparent;
    border-radius: 10px;
    height: auto;

    &.is-selected {
        background: red;

        .tablic-table-cards__card-image {
            opacity: 0.7;
        }
    }
}

.tablic-table-cards__message {
}

.is-text-centered {
    text-align: center;
}

.is-red {
    color: $red;
}

.is-green {
    color: $green;
}
